/*
font-face {
  font-family: 'Phantom Sans';
  src: url('https://hackclub.com/fonts/Phantom_Sans_0.6/Regular.woff')
      format('woff'),
    url('https://hackclub.com/fonts/Phantom_Sans_0.6/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://hackclub.com/fonts/Phantom_Sans_0.6/Bold.woff')
      format('woff'),
    url('https://hackclub.com/fonts/Phantom_Sans_0.6/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background-color: #252429;
  font-family: "Phantom Sans", system-ui, Roboto, sans-serif;
}

svg {
  cursor: move;
}

#banner {
  background-color: #ec3750;
  color: #fff;
  pointer-events: none;
  padding: 1rem 1.5rem;
  border-radius: 999px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  max-width: calc(100% - 1.5rem);
  text-align: center;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .25s ease-out;
}

@media (max-width: 32em) {
  #banner {
    top: auto;
    bottom: 1rem;
  }
}

.segment {
  stroke: #f9fafc;
  stroke-width: 1px;
  fill: #e0e6ed;
}

.layer {
  pointer-events: none;
}

#markers circle {
  opacity: 0.75;
}
